In [14]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [15]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Jamestown,US,2022-05-29 15:49:42,42.0970,-79.2353,74.01,65,0,4.61
1,1,Ibirataia,BR,2022-05-29 15:53:22,-14.0669,-39.6406,82.89,57,79,1.68
2,2,Nhulunbuy,AU,2022-05-29 15:53:23,-12.2333,136.7667,74.01,88,94,0.00
3,3,Tshikapa,CD,2022-05-29 15:53:23,-6.4167,20.8000,83.98,47,24,2.93
4,4,Hamilton,US,2022-05-29 15:50:30,39.1834,-84.5333,78.08,69,0,10.36

In [16]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [22]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

In [24]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [20]:
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

In [25]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [26]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Heatmap of percent Wind
locations = city_data_df[["Lat", "Lng"]]
Wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=Wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [32]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Ibirataia,BR,2022-05-29 15:53:22,-14.0669,-39.6406,82.89,57,79,1.68
3,3,Tshikapa,CD,2022-05-29 15:53:23,-6.4167,20.8000,83.98,47,24,2.93
4,4,Hamilton,US,2022-05-29 15:50:30,39.1834,-84.5333,78.08,69,0,10.36
9,9,Yarmouth,US,2022-05-29 15:53:25,41.7057,-70.2286,76.14,71,0,8.05
15,15,Nieuw Amsterdam,SR,2022-05-29 15:53:27,5.8833,-55.0833,88.14,74,40,4.61
23,23,Finschhafen,PG,2022-05-29 15:53:29,-6.6024,147.8681,78.26,84,71,5.41
25,25,Vaini,TO,2022-05-29 15:53:30,-21.2000,-175.2000,75.36,100,75,4.61
26,26,Faanui,PF,2022-05-29 15:53:30,-16.4833,-151.7500,80.02,72,16,11.23
29,29,Sabang,ID,2022-05-29 15:53:31,5.8933,95.3214,83.80,73,94,18.39
30,30,Rikitea,PF,2022-05-29 15:53:31,-23.1203,-134.9692,75.83,68,89,11.52

In [33]:
preferred_cities_df.count()

City_ID       196
City          196
Country       195
Date          196
Lat           196
Lng           196
Max Temp      196
Humidity      196
Cloudiness    196
Wind Speed    196
dtype: int64

In [34]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1         Ibirataia      BR     82.89 -14.0669  -39.6406
3          Tshikapa      CD     83.98  -6.4167   20.8000
4          Hamilton      US     78.08  39.1834  -84.5333
9          Yarmouth      US     76.14  41.7057  -70.2286
15  Nieuw Amsterdam      SR     88.14   5.8833  -55.0833
23      Finschhafen      PG     78.26  -6.6024  147.8681
25            Vaini      TO     75.36 -21.2000 -175.2000
26           Faanui      PF     80.02 -16.4833 -151.7500
29           Sabang      ID     83.80   5.8933   95.3214
30          Rikitea      PF     75.83 -23.1203 -134.9692

In [35]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [36]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [41]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Ibirataia,BR,82.89,-14.0669,-39.6406,Pousada e Restaurante Tambuque
3,Tshikapa,CD,83.98,-6.4167,20.8000,Tatem beach
4,Hamilton,US,78.08,39.1834,-84.5333,Six Acres Bed & Breakfast
9,Yarmouth,US,76.14,41.7057,-70.2286,
15,Nieuw Amsterdam,SR,88.14,5.8833,-55.0833,
23,Finschhafen,PG,78.26,-6.6024,147.8681,Cossam Guest House
25,Vaini,TO,75.36,-21.2000,-175.2000,Keleti Beach Resort
26,Faanui,PF,80.02,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
29,Sabang,ID,83.80,5.8933,95.3214,Hotel Citra
30,Rikitea,PF,75.83,-23.1203,-134.9692,People ThankYou

In [44]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [45]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [46]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))