## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:


# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bongor,TD,2022-05-29 17:05:13,10.2806,15.3722,98.85,16,61,3.85,broken clouds
1,1,Grindavik,IS,2022-05-29 17:05:13,63.8424,-22.4338,55.87,76,40,9.22,fog
2,2,Cherskiy,RU,2022-05-29 17:05:14,68.7500,161.3000,38.32,60,77,5.46,broken clouds
3,3,Rikitea,PF,2022-05-29 17:05:14,-23.1203,-134.9692,76.06,67,91,12.08,overcast clouds
4,4,Arraial Do Cabo,BR,2022-05-29 17:03:07,-22.9661,-42.0278,85.86,51,0,8.05,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Rikitea,PF,2022-05-29 17:05:14,-23.1203,-134.9692,76.06,67,91,12.08,overcast clouds
4,4,Arraial Do Cabo,BR,2022-05-29 17:03:07,-22.9661,-42.0278,85.86,51,0,8.05,clear sky
10,10,Butaritari,KI,2022-05-29 17:05:16,3.0707,172.7902,81.07,72,97,14.16,overcast clouds
11,11,Hithadhoo,MV,2022-05-29 17:05:16,-0.6000,73.0833,83.77,72,92,10.07,overcast clouds
14,14,Puerto Ayora,EC,2022-05-29 17:05:17,-0.7393,-90.3518,76.96,74,98,9.31,overcast clouds
18,18,Victoria,HK,2022-05-29 17:04:04,22.2855,114.1577,84.33,86,75,10.00,broken clouds
19,19,Atuona,PF,2022-05-29 17:05:18,-9.8000,-139.0333,78.19,74,25,19.37,scattered clouds
32,32,Caravelas,BR,2022-05-29 17:05:21,-17.7125,-39.2481,79.39,69,56,7.00,broken clouds
34,34,Vaini,TO,2022-05-29 17:05:22,-21.2000,-175.2000,77.16,94,75,5.75,broken clouds
35,35,Tallahassee,US,2022-05-29 17:04:11,30.4383,-84.2807,89.33,53,75,3.44,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                229
City                   229
Country                229
Date                   229
Lat                    229
Lng                    229
Max Temp               229
Humidity               229
Cloudiness             229
Wind Speed             229
Current Description    229
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Rikitea,PF,2022-05-29 17:05:14,-23.1203,-134.9692,76.06,67,91,12.08,overcast clouds
4,4,Arraial Do Cabo,BR,2022-05-29 17:03:07,-22.9661,-42.0278,85.86,51,0,8.05,clear sky
10,10,Butaritari,KI,2022-05-29 17:05:16,3.0707,172.7902,81.07,72,97,14.16,overcast clouds
11,11,Hithadhoo,MV,2022-05-29 17:05:16,-0.6000,73.0833,83.77,72,92,10.07,overcast clouds
14,14,Puerto Ayora,EC,2022-05-29 17:05:17,-0.7393,-90.3518,76.96,74,98,9.31,overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...
684,684,Sao Jose Da Coroa Grande,BR,2022-05-29 17:08:23,-8.8978,-35.1478,80.01,82,71,9.01,broken clouds
688,688,Axim,GH,2022-05-29 17:08:25,4.8699,-2.2405,81.99,74,71,8.70,broken clouds
690,690,Belmonte,BR,2022-05-29 17:08:25,-15.8631,-38.8828,78.96,80,39,7.09,scattered clouds
694,694,Manaure,CO,2022-05-29 17:08:27,11.7751,-72.4445,89.10,51,60,22.46,broken clouds
695,695,Curaca,BR,2022-05-29 17:08:27,-8.9903,-39.9094,84.54,51,93,13.09,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
3           Rikitea      PF     76.06 -23.1203 -134.9692
4   Arraial Do Cabo      BR     85.86 -22.9661  -42.0278
10       Butaritari      KI     81.07   3.0707  172.7902
11        Hithadhoo      MV     83.77  -0.6000   73.0833
14     Puerto Ayora      EC     76.96  -0.7393  -90.3518
18         Victoria      HK     84.33  22.2855  114.1577
19           Atuona      PF     78.19  -9.8000 -139.0333
32        Caravelas      BR     79.39 -17.7125  -39.2481
34            Vaini      TO     77.16 -21.2000 -175.2000
35      Tallahassee      US     89.33  30.4383  -84.2807

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.

clean_hotel_df= hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Rikitea,PF,76.06,-23.1203,-134.9692,People ThankYou
4,Arraial Do Cabo,BR,85.86,-22.9661,-42.0278,Pousada Porto Praia
10,Butaritari,KI,81.07,3.0707,172.7902,Isles Sunset Lodge
11,Hithadhoo,MV,83.77,-0.6000,73.0833,Scoop Guest House
14,Puerto Ayora,EC,76.96,-0.7393,-90.3518,Finch Bay Galapagos Hotel
...,...,...,...,...,...,...
684,Sao Jose Da Coroa Grande,BR,80.01,-8.8978,-35.1478,Crôa Mares Hotel
688,Axim,GH,81.99,4.8699,-2.2405,Axim Beach Resort And Spa
690,Belmonte,BR,78.96,-15.8631,-38.8828,Pousada Monte Carmelo O Pão
694,Manaure,CO,89.10,11.7751,-72.4445,Hotel Palaaima
695,Curaca,BR,84.54,-8.9903,-39.9094,Hotel Recanto Campestre

In [10]:
# 8a. Create the output File (CSV)
output_data_file="WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))